@use "../Utils/functions" as func;
@use "../Utils/variables" as var;
@use "../Utils/toolkits" as tool;

.footer {
  color: var.$gray-100;

  &__simplify {
    background-color: var.$red-200;
    display: grid;
    place-items: center;
    text-align: center;
    gap: 1em;
    padding-block: 5em;
    padding-inline: 1em;

    p {
      font-size: func.rem(40);
      font-weight: 700;
    }

    a {
      background-color: var.$gray-100;
      color: var.$red-200;
    }
  }

  &-container {
    max-width: 1440px;
    margin-inline: auto;
    padding-block: 2em;
    padding-inline: func.fluid(16, 5vw, 64);
    display: grid;
    gap: 2em;
  }

  &__about {
    background-color: var.$blue-700;
    color: var.$gray-100;

    &-contact {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-inline: 1em;
      > div {
        display: grid;
        gap: 0.75em;
      }
    }

    &-logo,
    &-copyright {
      justify-self: center;
    }

    &-socials {
      display: flex;
      justify-content: space-between;

      > img {
        width: 2em;
      }
    }
  }
}

form {
  display: flex;

  gap: 1em;

  button {
    background-color: var.$red-200;
    color: var.$gray-100;
    padding: 0.5em 1.5em;
    border-radius: 3em;
    text-transform: uppercase;
  }

  input {
    width: 100%;
    border-radius: 2.5em;
    padding: 0.75em;

    &::placeholder {
      font-size: func.rem(12);
    }
  }
}

@media only screen and (min-width: var.$md-size) {
  .footer {
    &__simplify {
      .footer-container {
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
      }

      p {
        text-align: left;
      }

      a {
        margin-left: auto;
      }
    }

    &__about {
      .footer-container {
        grid-template-columns: 0.7fr 1fr 1fr;
        align-items: center;
      }

      form {
        grid-column: 3;
        grid-row: 1 / 2;
      }

      &-contact {
        grid-column: 2 / 3;
        grid-row: span 2;
        justify-content: space-between;
      }

      &-logo {
        grid-column: 1 / 2;
        grid-row: 1 / 1;
        margin-right: auto;
      }

      &-copyright {
        margin-left: auto;
      }

      &-socials {
        justify-self: center;
        margin-right: auto;
        gap: 1em;

        > img {
          width: 1.5em;
        }
      }
    }
  }
}
