@use "../Utils/functions" as func;
@use "../Utils/variables" as var;
@use "../Utils/toolkits" as tool;

.header {
  display: flex;
  position: relative;

  align-items: center;
  justify-content: space-between;

  &__logo {
    margin-block: 2em;
  }

  &__start {
    display: none;

    @include tool.mq-min(var.$md-size) {
      display: block;
    }
  }
}

.nav {
  &__items {
    display: flex;
    gap: 2em;

    > li {
      cursor: pointer;
      color: var.$blue-400;
      font-weight: 500;
    }
  }
}

@media (max-width: var.$md-size) {
  .nav {
    &__items {
      > li {
        font-weight: 700;
      }
      &.desktop {
        display: none;
      }
      &.mobile {
        flex-direction: column;
        align-items: center;
        justify-content: center;

        position: absolute;
        left: 0;
        right: 0;
        top: 4em;
        padding-block: 3em;
        margin-inline: 1em;
        background-color: var.$red-100;
      }
    }
  }
}

@media (min-width: var.$md-size) {
  .nav {
    &__btn {
      display: none;
    }

    &__items {
      &.mobile {
        display: none;
      }
      &.desktop {
        display: flex;
      }
    }
  }
}
