@use "../Utils/functions" as func;
@use "../Utils/variables" as var;
@use "../Utils/toolkits" as tool;

.app {
  position: relative;
}

// HERO SECTION
.hero {
  display: grid;
  text-align: center;
  place-items: center;
  gap: 1em;

  @include tool.mq-min(800px) {
    text-align: left;
  }
}

.bg-blob {
  > img {
    margin-inline: auto;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 87%;
    max-height: 70vh;
    max-height: 70dvh;
    aspect-ratio: 1 / 1.2;
    background-image: url("./assets/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: bottom left;

    @include tool.mq-min(800px) {
      width: 45%;
    }
  }

  @include tool.mq-max(800px) {
    order: -1;
  }
}

// OFFERS SECTION
.offers {
  display: grid;
  gap: 2em;

  &__lists {
    display: grid;
    gap: 1em;
  }
}
