@use "../Utils/functions" as func;
@use "../Utils/variables" as var;
@use "../Utils/toolkits" as tool;

.app {
  position: relative;
}

// HERO SECTION
.hero {
  display: grid;
  text-align: center;
  place-items: center;
  gap: 1em;

  &__title {
    font-size: func.fluid(28, 3.5vw, 50);
  }

  &__desc {
    line-height: 1.8;
  }

  &__btn {
    display: none;
  }

  @include tool.mq-min(var.$md-size) {
    text-align: left;

    &__info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 2em;
    }

    &__btn {
      display: block;
    }

    &__title {
      padding-right: 2em;
    }

    &__desc {
      max-width: 400px;
      margin-right: auto;
    }
  }
}

.bg-blob {
  > img {
    margin-inline: auto;
  }
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
    width: 87%;
    max-height: 70vh;
    max-height: 70dvh;
    aspect-ratio: 1 / 1.2;
    background-image: url("./assets/images/bg-tablet-pattern.svg");
    background-repeat: no-repeat;
    background-position: bottom left;

    @include tool.mq-min(var.$md-size) {
      width: 45%;
    }
  }

  @include tool.mq-max(var.$md-size) {
    order: -1;
  }
}

// OFFERS SECTION
.offers {
  display: grid;
  gap: 2em;
  line-height: 1.8;

  &__heading {
    text-align: center;
  }

  &__title {
    font-size: func.rem(32);
    margin-bottom: func.rem(10);
  }

  &__lists {
    display: grid;
    gap: 1em;

    &-each {
      .title {
        font-size: func.rem(15);
        display: flex;
        align-items: center;
        gap: 1em;
        background-color: var.$red-100;

        > span {
          display: grid;
          place-items: center;
          border-radius: 2em;
          height: 30px;
          width: 55px;
          background-color: var.$red-200;
          color: var.$gray-100;
        }
      }
    }
  }
}

@media only screen and (min-width: var.$md-size) {
  .offers {
    &__heading {
      text-align: left;
      max-width: func.rem(500);
    }

    &__lists {
      &-each {
        .title {
          background-color: transparent;
        }
        .desc {
          padding-left: 4.5em;
        }
      }
    }
  }
}

// REVIEWS SECTION
.reviews {
  overflow: hidden;
  text-align: center;

  &__all {
    display: grid;
    padding-top: 5em;
    padding-bottom: 1em;
    gap: 3em;

    &.desktop {
      display: none;
    }
  }

  &__each {
    position: relative;
    display: grid;
    gap: 1em;
    justify-items: center;
    text-align: center;
    background-color: var.$gray-100;
    color: var.$blue-200;
    border-radius: 0.5em;
    padding: 3em 1.5em;

    .name {
      font-weight: 700;
      color: var.$blue-400;
    }

    .desc {
      font-size: func.rem(15);
    }

    img {
      position: absolute;
      width: 5em;
      top: -3em;
    }
  }

  &__selection {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;

    &-each {
      aspect-ratio: 1;
      width: 0.75em;
      border-radius: 100%;
      border: 1px solid var.$red-200;

      &.active {
        background-color: var.$red-200;
      }
    }
  }
}

@media only screen and (min-width: var.$md-size) {
  .reviews {
    max-width: 1440px;
    margin-inline: auto;
    overflow: hidden;

    &__selection {
      display: none;
    }
    &__all {
      &.mobile {
        display: none;
      }

      &.desktop {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 34%;
      }
    }
  }
}
