@use "../Utils/variables" as var;
@use "../Utils/functions" as func;
@use "../Utils/toolkits" as tool;

body {
  font-family: var.$ff;
}

a,
button {
  cursor: pointer;
  font: inherit;
  color: inherit;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

li,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-inline: func.fluid(16, 5vw, 64);
  max-width: func.rem(1440);
  margin-inline: auto;
}

.primary-color {
  color: var.$blue-400;
}

.secondary-color {
  color: var.$blue-200;
}

.two-columns {
  grid-template-columns: 1fr;

  @include tool.mq-min(var.$md-size) {
    grid-template-columns: 1fr 1fr;
  }
}

.primary-btn {
  display: block;
  background-color: var.$red-200;
  color: var.$gray-100;
  font-size: func.fluid(10, 15vw, 16);
  padding: 0.75em 2em;
  border-radius: 2em;
  box-shadow: 0px 10px 16px -3px rgba(242, 95, 58, 0.28);
}

.main {
  display: grid;
  gap: 3em;
}
